body{
    font-family: 'open sans', sans-serif;
    background-color:black;
    color:white;
}
#container{
    widows: 1000px;
    height: 650px;
    background-image: linear-gradient(rgba(0,0,0,0.3),
     rgba(0,0,0,0.3)), url(calcc.jpg);
     margin: 20px auto;
   

}
#calculator{
    width: 420px;
    height: 620px;
    background-color: darkblue;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#result{
    height: 160px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 20px;
    color: aqua ;
    
}
#output{
    text-align: right;
    height: 80px;
    margin: 15px 30px;
    font-size: 40px

}
#keyboard{
    height: 500px;
}
.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 20px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 18px;

}
.number, .empty{
    background-color: darkblue;
   
}
.number{
    color: #30dbd0;
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus {
    outline: 0;
}
button:nth-child(4){
    font-size: 25px;
    background-color:aqua;
}
button:nth-child(8){
    font-size: 25px;
    background-color:chartreuse;
}
button:nth-child(12){
    font-size: 25px;
    background-color:crimson;
}
button:nth-child(16){
    font-size: 25px;
    background-color:magenta;
}
button:nth-child(20){
    font-size: 25px;
    background-color:#f5f514;
}

